<div class="side-email">
  <h2>Liste de diffusion</h2>
  <iframe name="newsletter-iframe" id="newsletter-iframe" style="display: none;"></iframe>
  <form method="post" action="https://listmonk.blueforest.cc/subscription/form" class="listmonk-form" target="newsletter-iframe" onsubmit="alert('Merci pour votre abonnement !')">
    <div>
      <input type="hidden" name="nonce" />
      <input type="hidden" name="l" value="8bd5a34a-4206-43dc-8af9-12515786baa2"/>
      <p><input type="email" name="email" required placeholder="E-mail" /></p>
      <p><input type="submit" value="S'abonner" /></p>
    </div>
  </form>
</div>
