<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1">

{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}


<script>
    var remark_config = {
        host: 'https://remark42.blueforest.cc',
        site_id: 'bosquet',
        components: ['counter', 'embed', 'last-comments'],
        locale: 'fr',
        show_email_subscription: true,
        show_rss_subscription: false,
        theme: 'dark',
    };

    !function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);
</script>

<link rel="stylesheet" href="{{ "syntax.css" | relURL }}" />
<link rel="stylesheet" href="{{ "style.css" | relURL }}" />
<link rel="stylesheet" href="{{ "icofont.min.css" | relURL }}" />
<link rel="shortcut icon" href="{{ "images/favicon.ico" | relURL }}" type="image/x-icon" />

<script async defer data-website-id="b271a52c-da8e-4969-bc55-1ea822829266" src="https://umami.blueforest.cc/umami.js"></script>
