
<p>
  Vous pouvez utiliser le fichier de configuration suivant pour démarrer un serveur {{ .Get 0 }} avec Docker :
</p>

{{ partial "github.html" (delimit (slice "configs/" (.Get 1) ".yml") "") }}

<p>
  Si NodeJS est installé sur votre machine (<a href="/posts/nodejs/">en savoir plus sur NodeJS</a>), vous pouvez utiliser la commande :
</p>

{{ (delimit (slice `~~~bash
npx bosquet -y ` (.Get 1) `
~~~`) "") | replaceRE "~~~" "```" | markdownify }}

<p>
  Sinon, pour n'utiliser que Docker (<a href="/posts/docker/">en savoir plus sur Docker</a>), vous pouvez utiliser la commande :
</p>

{{ (delimit (slice `~~~bash
docker run --rm -it -v $HOME/.bosquet/:/root/.bosquet node:alpine npx -y bosquet ` (.Get 1) `
docker compose up -f $HOME/.bosquet/` (.Get 1) `/docker-compose.yml
~~~`) "") | replaceRE "~~~" "```" | markdownify }}
